<script spec="view" type="application/json">
  {
    "name" : "FileList",
    "type" : "grid",
    "displayName" : "Image Files",
    "impl" : "Trillo.CollectionView",
    "container" : "filelist-container",
    "dialog": true,
    "apiSpec" : {
      "impl" : "Trillo.RestAdapter",
      "serviceUrl" : "<dynamically plugged-in by controller>",
      "query" : "type=png,gif,jpg,ico"
    }
  }
</script>

<div class="trillo-filelist-c">
  <button type="button" nm="close"
    class="btn btn-danger trillo-filelist-close js-tool">
    <span aria-hidden="true">&#215;</span> <span class="sr-only"></span>
  </button>

  <div class="trillo-upload-form-c js-file-upload">
    <h3 class="trillo-form-title">Upload File</h3>
    <form action="/fileUpload" method="post" enctype="multipart/form-data" target="hiddenFrame" class="trillo-upload-form">
      <div class="modal-body">
        <div class="js-upload-alert alert alert-block alert-danger" style="display:none">
        </div>
        <input type="hidden" name="folder" nm="folder">
        <input type="hidden" name="className" nm="className">
        <input type="hidden" name="targetViewName" nm="targetViewName">
        <input type="hidden" name="X-CSRF-TOKEN">
        <div class="trillo-upload-dragdrop-box js-file-drag-drop"">Drag and drop file from your computer here.
        </div>
        <div class="trillo-upload-progress-box js-upload-progress-box">
          <div class="trillo-upload-progress-file trillo-display-none js-upload-progress-file">
            <div nm="fileName" class="trillo-upload-progress-file-name"></div>
            <div nm="error" class="trillo-upload-progress-file-error trillo-display-none"></div>
            <div class="progress">
              <div nm="progress" class="progress-bar js-progress-bar trillo-upload-pb-notransition" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
                style="width: 0%">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Or, choose File from Your Computer</label>
          <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" name="file" nm="file">
            <span data-file-displayname="Choose file..." name="fileName" nm="fileName" class="custom-file-control"></span>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="uploadFile" nm="uploadFile" class="btn btn-primary">Upload</button>
        <button type="button" name="close" nm="close" class="btn btn-primary js-tool">Close</button>
      </div>
    </form>
    <iframe class="trillo-upload-form-hidden-iframe" style="position:absolute" name="hiddenFrame"></iframe>
  </div>
  <div class="file-list-canvas-c">
  <div class="trillo-canvas js-grid">
    <div class="trillo-info-block js-grid-cell">
      <div class="img-def-image-tn-c">
        <img class="img-def-image-tn" nm="url">
      </div>
      <div class="trillo-info">
        <div class="trillo-info-block-name js-readonly-content"
          nm="name"></div>
        <div>
          <span class="js-readonly-content" nm="size"></span> Bytes
        </div>
        <div>
          <span class="js-readonly-content" nm="lastModified"
            field-type="datetime" format="MM/DD/YY HH:mm:ss"></span>
            <button class="btn btn-default btn-xs" style="margin-left:50px" type="button" nm="selectionOk">Select</button>
            
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
