<script spec="view" type="application/json">
  {
    "name" : "header",
    "type" : "menu",
    "embedded" : true
  }
</script>

<nav nm="header" class="navbar navbar-expand-md navbar-inverse bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{{{homeUrl}}}" class="navbar-brand text-white" title="Home">
    <img class="main-logo" src="{{{logoStamp}}}">
    <span class="main-app-name">{{{displayName}}}</span>
  </a>
  <div class="collapse navbar-collapse main-menu " id="navbarNav">
    <ul class="navbar-nav js-menu js-menu-items-c">
      <li nm="userMenu"
        class="nav-item dropdown user-dropdown trillo-on-valid-role js-menu">
        <a href="#" class="nav-link dropdown-toggle js-menu-trigger"
        data-toggle="dropdown"> <i class="fa fa-user"></i>
      </a>
        <div class="login-menu dropdown-menu js-menu-items-c">
          <a class="dropdown-item js-menu-item" nm="myProfile" href="#"
            title="Click to change profile"> <span
            class="js-screenname">{{{userFullName}}}</span>
          </a> <a class="dropdown-item js-menu-item" nm="changeMyPassword"
            href="#"> Change Password </a> <a
            class="dropdown-item js-menu-item" nm="_logout"
            href="#"> Logout </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
