<div class="js-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" nm="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p nm="modalMessage">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" nm="modalYes" display="none" class="btn btn-primary">Yes</button>
        <button type="button" nm="modalNo" display="none" class="btn btn-primary">No</button>
        <button type="button"class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" nm="modalOK" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>