<script spec="view" type="application/json">
  {
    "name" : "authorizeFailed1",
    "type" : "page",
    "displayName" : "Authorization Failed"
  }
</script>

<div class="trillo-root-elem">
  <!--#include file="authheader.htm" -->
  <div class="trillo-application js-application">
    <div class="main-content-area auth-page">
      <div class="card" style="width: 25rem; margin: auto">
        <div class="card-body">
          <h4 class="card-title">Not Authorized</h4>
          <p class="card-text">You are not authorized to access the
            application referred by the URL.</p>
          <p class="card-text">
            <a href="/_logout?postLogout={{{redirectPath}}}"> Click here to
              logout and re-login to access the application. </a>
          </p>
          <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary">Click here to go back to previous page.</a>
        </div>
      </div>
    </div>
  </div>
  <!--#include file="alert.htm" -->
  <!--#include file="modal.htm" -->
  <!--#include file="footer.htm" -->
</div>