<script spec="view" type="application/json">
  {
    "name" : "emailVerified",
    "type" : "page",
    "displayName" : "Email Verified"
  }
</script>

<div class="trillo-root-elem">
  <div class="trillo-application js-application">
    <!--#include file="authheader.htm" -->
    <div class="main-content-area auth-page">
      <div class="card" style="width: 20rem; margin: auto">
        <div class="card-body">
          <h4 class="card-title">Email Verified</h4>
          <p class="card-text">Thank you for verifying your email.</p>
          <a href="/{{{orgName}}}/auth/login" class="btn btn-primary">Continue to Trillo</a>
        </div>
      </div>
    </div>
  </div>
  <!--#include file="alert.htm" -->
  <!--#include file="modal.htm" -->
  <!--#include file="footer.htm" -->
</div>