<script spec="view" type="application/json">
  {
    "name" : "forgotPassword",
    "type" : "page",
    "displayName": "Forgot Password",
    "nextViewName" : "ForgotPasswordForm",
    "nextViewSpecs" : [
      {
        "name" : "ForgotPasswordForm",
        "embedded" : true,
        "impl" : "Trillo.FormView",
        "elementSelector" : ".forgot-password-form",
        "postUrl" : "/_preauthsvc/user/forgotPassword"
      }
    ]
  }
</script>

<div class="trillo-root-elem">
  <!--#include file="authheader.htm" -->
  <div class="trillo-application js-application">
    <div class="main-content-area auth-page">
      <div class="trillo-form-container">
        <div class="trillo-form-container-inner forgot-password-form">
          <h5 class="redo-fotgot-password trillo-display-none">
            Your last request to reset password has expired. This time limit is required to ensure security of your account. 
            Please retry again. We are sorry for the inconvenience.
          </h5>
          <h4 class="trillo-form-title">
            Enter your email
          </h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control js-required" nm="email">
              <span class="text-warning">&#160;</span>
            </div>
            <div class="form-group">
              <button tabindex="3" nm="ok" type="submit" class="btn btn-primary js-tool">Submit</button>
            </div>
          </form>
          <p>
            We will send the reset password link by email to your inbox. If you do not receive email in the next 5
            mins, check you spam folder.
          </p>
        </div>
        <div class="trillo-form-container-inner forgot-password-message trillo-display-none">
          We have sent you an email with a link to reset your password. Please click on the link to reset password. If
          you do not find email in the inbox, check the spam folder. 
          <br/><br/>
          <a href="/{{{orgName}}}/auth/forgotPassword">
            Click here to send the password reset link again.
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--#include file="alert.htm" -->
  <!--#include file="modal.htm" -->
  <!--#include file="footer.htm" -->
</div>