<script spec="view" type="application/json">
  {
    "name" : "resetPassword",
    "type" : "page",
    "displayName" : "Reset Password",
    "nextViewName" : "ResetPasswordForm",
    "nextViewSpecs" : [
      {
        "name" : "ResetPasswordForm",
        "embedded" : true,
        "impl" : "Trillo.FormView",
        "elementSelector" : ".reset-password-form",
        "postUrl" : "/_preauthsvc/user/resetPassword"
      }
    ]
  }
</script>

<div class="trillo-root-elem">
  <!--#include file="authheader.htm" -->
  <div class="trillo-application js-application">
    <div class="main-content-area auth-page">
      <div class="trillo-form-container">
        <div class="trillo-form-container-inner reset-password-form">
          <h1 class="trillo-form-title">
            New Password
          </h1>
          <form>
            <input type="hidden" class="form-control js-required" tabindex="10" nm="emailVerifyKey" value="">
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control js-required" nm="password">
            </div>
            <div class="form-group">
              <label for="password">Repeat New Password</label>
              <input type="password" class="form-control js-required" nm="rptPassword">
            </div>
            <div class="form-group">
              <button tabindex="3" nm="ok" type="submit" class="btn btn-primary js-tool">Reset Password</button>
            </div>
          </form>
        </div>
        <div class="trillo-form-container-inner reset-password-message trillo-display-none">
          Your password has been successfully reset. 
          <br/><br/>
          <a href="/{{{orgName}}}/auth/login">
            Click here to login.
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--#include file="alert.htm" -->
  <!--#include file="modal.htm" -->
  <!--#include file="footer.htm" -->
</div>