<div class="trillo-application js-application" nm="Test3">
 
</div>
<!--#include file="misc.htm" -->
<!--#include file="alert.htm" -->
<!--#include file="modal.htm" -->
<div class="modal fade js-not-yet-implemented" tabindex="-1"
  role="dialog" aria-labelledby="notYetLabel" aria-hidden="true" style="z-index: 2200">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Coming Soon</h4>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This demo application currently implements the following actions. 
           In future, more actions will be supported.</p>
        <ul class="list-group">
          <li class="list-group-item">tmp_Starter_App (left navigation)</li>
          <li class="list-group-item">Traffic (left navigation)</li>
          <li class="list-group-item">Sales (left navigation)</li>
          <li class="list-group-item">Subscribers (left navigation)</li>
        </ul>
        <br/>
        <p class="lead">
          Try one the above actions.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="about" tabindex="-1" role="dialog"
  aria-labelledby="aboutLabel" aria-hidden="true" style="z-index:2200">
  <div class="modal-dialog modal-lg modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">About tmp_Starter_App</h4>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This demo application is assembled using Trillo builder. Trillo follows  modular approach - 
        build components and stitch them together as an application. The components are metadata driven and thus
        allow customization.  
        </p>
        <p>The componentized approach of Trillo makes development
         of an enterprise class UI efficient, flexible and modular. Persons with different roles can use
         its visual or programming environment to contribute to the end product.
        </p>
        <p class="lead">Trillo transparently uses Git to enable collaboration among team members.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
