<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span>Category1</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="home_" href="#">
          <i class="icon-speedometer"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" nm="sales" href="#">
          <i class="icon-calculator"></i>
          Sales
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="subscribers" href="#" data-action-type="view">
          <i class="icon-people"></i>
          Subscribers
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="about" href="#">
          <i class="icon-notebook"></i>
          About
        </a>
        </li>
        <li class="divider">
        </li>
        <li class="nav-title text-center">
          <span>Category2</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="revenue" href="#">
          <i class="fa fa-line-chart"></i>
          Revenue Projection
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="alerts" href="#">
          <i class="icon-bell"></i>
          Alerts
        </a>
        </li>
        <li class="divider">
        </li>
        <li class="nav-title text-center">
          <span>Category3</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="logs" href="#">
          <i class="icon-layers"></i>
          Logs
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" nm="calendar" href="#">
          <i class="icon-calendar"></i>
          Calendar
        </a>
        </li>
    </ul>
  </nav>
</div>